<!DOCTYPE html>
<html>
<head>
    <title>Secret Santa</title>
</head>
<body>
    <h1>Secret Santa</h1>
    <a href="{% url 'home' %}">Back to Home</a>

    <h2>Add Participant</h2>
    <form method="post" action="{% url 'add_participant' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Participant name" required>
        <button type="submit">Add</button>
    </form>

    <h2>Participants</h2>
    <ul>
        {% for participant in participants %}
            <li>
                {{ participant.name }}
                <form method="post" action="{% url 'delete_participant' participant.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="color: black;">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    

    <h2>Generate Pairs</h2>
    <form method="post" action="{% url 'randomize_pairs' %}">
        {% csrf_token %}
        <button type="submit">Randomize</button>
    </form>
</body>
</html>
